    header{
    background-color: rgb(47, 27, 85);
width: auto;
height: inherit;
    }
  header nav {
    padding: 5rem 0;
    }
    
    body{
        background-color: rgb(191, 237, 220);
        font-family: 'Poppins', sans-serif;
        }
       
        .hero{
        padding-top: -1rem;
        padding-bottom: 3rem;
        
        }
        .hero .left img{
        width: 600px;
        }
        .hero .left h2 span{
            color:  rgb(47, 27, 85);
            margin-left: 3rem;
        font-family: 'Franklin Gothic Medium';
        font-size: 2rem;
        font-weight: 100;
       
            }
        .hero .right {
        color: var(--black);
        margin-top: 1rem;
        }
        .hero .right h6{
        font-size: 9rem;
        color:  rgb(5, 121, 20);
        margin-bottom: 0.9rem;
        }
        .hero .right h1{
        font-size: 4rem;
        font-weight: 200;
        line-height: 1.2;
        margin-bottom: 3rem;
        }
        .hero .right h1 span{
        color:  rgb(47, 27, 85);
        }
        .hero .right p{
        line-height: 1.9;
        margin-bottom: 2rem;
        }

        .flex{
            display: flex;
            }
            .items-centre{
            align-items: center;
            }
            .flex-1{
                flex: 1;
                }
            
                
           
                
               
               
                